In [1]:
import ibm_db
conn=ibm_db.connect("DATABASE=CPCDB;HOSTNAME=db2cs.cpc.com.tw;PORT=50000;PROTOCOL=TCPIP;UID=aa206;PWD=xxx;", "", "")
import pandas
import ibm_db_dbi
pconn = ibm_db_dbi.Connection(conn)
df = pandas.read_sql('SELECT CUST_NO,busNO, CUST_NAME,  ADDR FROM SDRDASA.SDA_TBCUSTOMER;', pconn)
df.to_excel('OUTEXCEL0914.xlsx', sheet_name='Sheet1')

In [2]:
df.head()

,CUST_NO,BUSNO,CUST_NAME,ADDR
0,AA0111001,A0111001,李彩霞 ...,950台東縣台東市台東市中興路３段２６４號 ...
1,AA0111002,A0111002,張順安 ...,955台東縣鹿野鄉瑞隆村２號 ...
2,AA0111003,A0111003,鐘勇耀 ...,955台東縣鹿野鄉瑞隆村７號 ...
3,AA0111004,A0111004,張樹霖 ...,950台東縣台東市豐年路１段７９０號 ...
4,AA0111005,A0111005,楊景昌 ...,956台東縣關山鎮德高里２８號 ...